@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Bank</h1>
    <p>To access your accounts, please <a href="@Url.Action("Login", "Home")">log in</a>.</p>
</div>